Moove/.vs/
Moove/Moove.Framework/obj/
Moove/Moove.PresentationFramework/obj/
Moove/Moove.Tray/obj/
Moove/MooveUI/obj/
Moove/packages/CommonServiceLocator.2.0.5/
Moove/packages/ControlzEx.4.3.2/
Moove/packages/Hardcodet.NotifyIcon.Wpf.1.0.8/
Moove/packages/HtmlAgilityPack.1.11.24/
Moove/packages/MahApps.Metro.2.2.0/
Moove/packages/MahApps.Metro.Resources.0.6.1.0/
Moove/packages/Microsoft.Xaml.Behaviors.Wpf.1.1.19/
Moove/packages/Prism.Core.7.2.0.1422/
Moove/packages/Prism.Unity.7.2.0.1422/
Moove/packages/Prism.Wpf.7.2.0.1422/
Moove/packages/System.Reactive.4.4.1/
Moove/packages/System.Reactive.Core.4.4.1/
Moove/packages/System.Reactive.Interfaces.4.4.1/
Moove/packages/System.Reactive.Linq.4.4.1/
Moove/packages/System.Reactive.PlatformServices.4.4.1/
Moove/packages/System.Runtime.CompilerServices.Unsafe.4.7.1/
Moove/packages/System.Threading.Tasks.Extensions.4.5.4/
Moove/packages/System.ValueTuple.4.5.0/
Moove/packages/Unity.5.11.7/
Moove/packages/Unity.Abstractions.5.11.6/
Moove/packages/Unity.Container.5.11.8/
Moove/Moove.Framework/bin/
Moove/Moove.PresentationFramework/bin/
Moove/Moove.Tray/bin/
Moove/MooveUI/bin/
Moove/packages/
Moove/StockBenchmark/bin/
Moove/StockBenchmark/obj/
Moove/StockBenchmarkImporter/bin/
Moove/StockBenchmarkImporter/obj/
Moove/Testes/bin/
Moove/Testes/obj/
Moove/Infrastructure/bin/
Moove/Infrastructure/obj/
/.claude
Data/archive.zip
/Moove.FunctionApp/Moove.Azure/.vs
/StockAnalyzer/__pycache__
/.vs
/Moove/Moove.FunctionApp/bin
Moove/Moove.FunctionApp/local.settings.json
/Moove/Moove.FunctionApp/obj
/Moove/MooveUI/obj
/Moove/MooveUI/obj
Moove/MooveUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
