# Visual Studio / .NET Specific Rules (C#)
/.vs
/**/.vs

/Moove/**/bin
/Moove/**/obj
Moove/**/bin/
Moove/**/obj/

*.user
*.suo

*.obj
*.exe
*.pdb

/Moove/packages/**
/.claude
Data/archive.zip



Moove/Moove.FunctionApp/local.settings.json

# Python Specific Rules
__pycache__/
*.pyc
venv/
.venv/


