<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StocksContext" connectionString="metadata=res://*/Stocks.csdl|res://*/Stocks.ssdl|res://*/Stocks.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RUIGUERRAP\SQLSERVER2008R2;initial catalog=StocksDb;persist security info=True;user id=sa;password=dev2008r2;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="DownloadStartYear" value="1999" />
    <add key="DownloadLastRunDate" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11111.0" newVersion="1.1.11111.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>